<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

    </head>
    <body>

		<!-- preloader  -->
		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="animation-preloader">
					<div class="spinner"></div>
				</div>
				<div class="loader">
					<div class="row">
						<div class="col-3 loader-section section-left">
							<div class="bg"></div>
						</div>
						<div class="col-3 loader-section section-left">
							<div class="bg"></div>
						</div>
						<div class="col-3 loader-section section-right">
							<div class="bg"></div>
						</div>
						<div class="col-3 loader-section section-right">
							<div class="bg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- preloader end -->

           <!-- header-start -->
           <header>     
               <div class="header-top-area primary-bg pt-15 pb-15">
                   <div class="container">
                       <div class="row">
                           <div class="col-xl-6 col-lg-8 col-md-7">
                               <div class="header-top-wrapper">
                                   <div class="header-top-info">
                                       <span><i class="far fa-map-marked-alt"></i>  504 White St . Dawsonville, GA 30534 , New York</span>
                                       <span class="mail-header-icon"><i class="far fa-envelope-open"></i> suport@gmail.com</span>
                                   </div>
                               </div> 
                           </div>
                           <div class="col-xl-6 col-lg-4 col-md-5">
                               <div class="header-top-right">
                                   <div class="header-icon f-right">
                                       <a href="#"><i class="far fa-user"></i></a>
                                       <a href="#"><i class="far fa-shopping-cart"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                       <a href="#"><i class="fab fa-youtube-square"></i></a>
                                   </div>
                                   <div class="header-search f-right d-none d-xl-block">
                                       <form class="header-search-form">
                                           <input placeholder="Search" type="text">
                                           <button type="submit"><i class="far fa-search"></i></button>
                                       </form>
                                   </div>
                               </div> 
                           </div>
                       </div>
                   </div>
               </div>
               <div id="sticky-header" class="main-menu-area menu-1">
                   <div class="container">
                       <div class="row align-items-center">
                           <div class="col-xl-4 col-lg-3">
                               <div class="header-lang header-02-lang f-right pos-rel d-none d-xl-block">
                                   <div class="lang-icon">
                                       <img src="assets/img/icon/flag.png" alt="">
                                       <a href="#">English</a>
                                   </div>
                                   <ul class="header-lang-list">
                                       <li><a href="#">USA</a></li>
                                       <li><a href="#">UK</a></li>
                                       <li><a href="#">CA</a></li>
                                       <li><a href="#">AU</a></li>
                                   </ul>
                               </div>
                               <div class="logo">
                                   <a href="index.html"><img src="assets/img/logo/logo.png" alt="" /></a>
                               </div>
                           </div>
                           <div class="col-xl-8 col-lg-9">
                               <div class="menu-bar info-bar f-right d-none d-md-none d-lg-block">
                                   <span class="bar1"></span>
                                   <span class="bar2"></span>
                                   <span class="bar3"></span>
                               </div>
                               <div class="main-menu text-right">
                                   <nav id="mobile-menu">
                                       <ul>
                                           <li class="active"><a href="index.html">home</a>
                                               <ul class="sub-menu text-left">
                                                   <li><a href="index.html">home 1</a></li>
                                                   <li><a href="index-2.html">home 2</a></li>
                                                   <li><a href="index-3.html">home 3</a></li>
                                               </ul>
                                           </li>
                                           <li><a href="about.html">About </a></li>
                                           <li><a href="services.html">Services</a></li>
                                           <li><a href="shop.html">Shop</a>
                                               <ul class="sub-menu text-left">
                                                   <li><a href="shop.html">shop</a>
                                                   <li><a href="produc-details.html">product details</a>
                                                   <li><a href="our-product.html">our product</a>
                                                   <li><a href="instant-shop.html">instant shop</a>
                                               </ul>
                                           </li>
                                           <li><a href="blog.html">Blog</a>
                                               <ul class="sub-menu text-left">
                                                   <li><a href="blog.html">Blog</a></li>
                                                   <li><a href="blog-grid.html">Blog Grid</a></li>
                                                   <li><a href="blog-left-sidebar.html">blog left sidebar</a></li>
                                                   <li><a href="blog-details.html">blog details</a></li>
                                               </ul>
                                           </li>
                                           <li><a href="#">pages</a>
                                               <ul class="sub-menu text-left">
                                                   <li><a href="about.html">about</a></li>
                                                   <li><a href="gallery-01.html">gallery 01</a></li>
                                                   <li><a href="gallery-02.html">gallery 02</a></li>
                                                   <li><a href="gallery-grid.html">gallery grid</a></li>
                                                   <li><a href="gallery-masonry.html">gallery masonry</a></li>
                                                   <li><a href="gallery-full-width.html">gallery full width</a></li>
                                                   <li><a href="gallery-details.html">gallery details</a></li>
                                                   <li><a href="services.html">services</a></li>
                                                   <li><a href="services-details.html">services details</a></li>
                                                   <li><a href="our-process.html">our process</a></li>
                                                   <li><a href="team.html">team</a></li>
                                                   <li><a href="faq.html">faq</a></li>
                                                   <li><a href="contact.html">contact</a></li>
                                               </ul>
                                           </li>
                                           <li><a href="contact.html">contact</a></li>
                                       </ul>
                                   </nav>
                               </div>
                           </div>
                           <div class="col-12">
                               <div class="mobile-menu"></div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="extra-info">
                   <div class="close-icon">
                       <button>
                           <i class="far fa-window-close"></i>
                       </button>
                   </div>
                   <div class="logo-side mb-30">
                       <a href="index.html">
                           <img src="assets/img/logo/logo.png" alt="" />
                       </a>
                   </div>
                   <div class="side-info mb-30">
                       <div class="contact-list mb-30">
                           <h4>Office Address</h4>
                           <p>123/A, Miranda City Likaoli
                               Prikano, Dope</p>
                       </div>
                       <div class="contact-list mb-30">
                           <h4>Phone Number</h4>
                           <p>+0989 7876 9865 9</p>
                           <p>+(090) 8765 86543 85</p>
                       </div>
                       <div class="contact-list mb-30">
                           <h4>Email Address</h4>
                           <p>info@example.com</p>
                           <p>example.mail@hum.com</p>
                       </div>
                   </div>
                   <div class="instagram">
                       <a href="#">
                           <img src="assets/img/portfolio/p1.jpg" alt="">
                       </a>
                       <a href="#">
                           <img src="assets/img/portfolio/p2.jpg" alt="">
                       </a>
                       <a href="#">
                           <img src="assets/img/portfolio/p3.jpg" alt="">
                       </a>
                       <a href="#">
                           <img src="assets/img/portfolio/p4.jpg" alt="">
                       </a>
                       <a href="#">
                           <img src="assets/img/portfolio/p5.jpg" alt="">
                       </a>
                       <a href="#">
                           <img src="assets/img/portfolio/p6.jpg" alt="">
                       </a>
                   </div>
                   <div class="social-icon-right mt-20">
                       <a href="#">
                           <i class="fab fa-facebook-f"></i>
                       </a>
                       <a href="#">
                           <i class="fab fa-twitter"></i>
                       </a>
                       <a href="#">
                           <i class="fab fa-google-plus-g"></i>
                       </a>
                       <a href="#">
                           <i class="fab fa-instagram"></i>
                       </a>
                   </div>
               </div>
           </header>
           <!-- header-start -->

        <main>

             <!-- breadcrumb-area-start -->
             <div class="breadcrumb-area" style="background-image:url(assets/img/bg/b.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-text text-center pt-160 pb-125">
                                <h1>About Us</h1>
                            </div>
                            <div class="text-center">
                                <ul class="breadcrumb-menu">
                                    <li><a href="index.html">home</a></li>
                                    <li><span>About Us</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->
        
            <!-- about-area-start -->
            <div class="about-area pt-160 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7">
                            <div class="about-us-img pos-rel mb-30">
                                <img src="assets/img/about/03.png" alt="">
                                <div class="about-us-text">
                                    <div class="about-info text-center">
                                        <h2>35</h2>
                                        <span>Year Of <br> Experience</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5">
                            <div class="about-02-wrapper single-about-us mb-30">
                                <div class="section-title mb-25">
                                    <h2>Quality Organic Food <span>& Vegetables</span></h2>
                                    <p>Sed perspiciatis unde omnis iste natus error voluptatem acc santium doloremque laudantium, totam rem aperiam eaqipsa quaenventore veritatis quasi architecto beatae</p>
                                </div>
                                <div class="about-list">
                                    <ul>
                                        <li>Quis nostrud exercitation ullamco laboris</li>
                                        <li>Lius modi tempora incidunt ut labore et dolore</li>
                                        <li>Magnam aliquam quaerat voluptate enim</li>
                                    </ul>
                                </div>
                                <div class="about-button">
                                    <a class="c-btn green-btn" href="contact.html"><span> </span>read more<span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about-area-end -->

            <!-- counter-area-start -->
            <div class="counter-area pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="assets/img/icon/c-01.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h2 class="counter">3560</h2>
                                    <span>Customer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="assets/img/icon/c-02.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h2 class="counter">2350</h2>
                                    <span>Product</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="assets/img/icon/c-03.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h2 class="counter">1235</h2>
                                    <span>Oraganic Farms</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-counter text-center mb-30">
                                <div class="counter-icon">
                                    <img src="assets/img/icon/c-01.png" alt="">
                                </div>
                                <div class="counter-text">
                                    <h2 class="counter">5409</h2>
                                    <span>Seedlings</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- counter-area-end -->

            <!-- history-area-start -->
            <div class="history-area pt-125 pb-100 grey-bg pos-rel">
                <div class="shape d-none d-xl-block">
                    <div class="shape-item history-01 top-bottom"><img src="assets/img/shape/11.png" alt=""></div>
                    <div class="shape-item history-02"><img src="assets/img/shape/12.png" alt=""></div>
                    <div class="shape-item history-03"><img src="assets/img/shape/13.png" alt=""></div>
                    <div class="shape-item history-04"><img src="assets/img/shape/14.png" alt=""></div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                            <div class="section-title text-center mb-70">
                                <h2>Photo <span>Gallery</span></h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="history-wrapper text-center mb-30">
                                <div class="history-img">
                                    <img src="assets/img/history/01.png" alt="">
                                </div>
                                <div class="history-text">
                                    <span>1995-97</span>
                                    <h3>When We Started</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error voluptatem cusa</p>
                                </div>
                                <div class="history-btn">
                                    <a href="#"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="history-wrapper text-center mb-30">
                                <div class="history-img">
                                    <img src="assets/img/history/02.png" alt="">
                                </div>
                                <div class="history-text">
                                    <span>1997-99</span>
                                    <h3>Join Our Famers </h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error voluptatem cusa</p>
                                </div>
                                <div class="history-btn">
                                    <a href="#"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="history-wrapper text-center mb-30">
                                <div class="history-img">
                                    <img src="assets/img/history/03.png" alt="">
                                </div>
                                <div class="history-text">
                                    <span>1999-02</span>
                                    <h3>New Product</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error voluptatem cusa</p>
                                </div>
                                <div class="history-btn">
                                    <a href="#"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="history-wrapper text-center mb-30">
                                <div class="history-img">
                                    <img src="assets/img/history/04.png" alt="">
                                </div>
                                <div class="history-text">
                                    <span>2002-05</span>
                                    <h3>Product Delivery</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error voluptatem cusa</p>
                                </div>
                                <div class="history-btn">
                                    <a href="#"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- history-area-end -->

            <!-- team-area-start -->
            <div class="team-area pt-130 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8">
                            <div class="section-title mb-75">
                                <h2>Company <span>History</span></h2>
                                <p >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae</p>
                            </div> 
                        </div>
                    </div>
                    <div class="row team-active">
                        <div class="col-xl-3">
                            <div class="team-wrapper text-center mb-30">
                                <div class="team-img pos-rel">
                                    <img src="assets/img/team/01.jpg" alt="">
                                    <div class="team-view">
                                        <i class="far fa-plus"></i>
                                    </div>
                                    <div class="team-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="team-text">
                                    <h3>David V. Beaudoin</h3>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="team-wrapper text-center mb-30">
                                <div class="team-img pos-rel">
                                    <img src="assets/img/team/02.jpg" alt="">
                                    <div class="team-view">
                                        <i class="far fa-plus"></i>
                                    </div>
                                    <div class="team-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="team-text">
                                    <h3>Gregory L. Dunford</h3>
                                    <span>Web Designerr</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="team-wrapper text-center mb-30">
                                <div class="team-img pos-rel">
                                    <img src="assets/img/team/03.jpg" alt="">
                                    <div class="team-view">
                                        <i class="far fa-plus"></i>
                                    </div>
                                    <div class="team-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="team-text">
                                    <h3>Ronald D. Abram</h3>
                                    <span>Organic Farmer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="team-wrapper text-center mb-30">
                                <div class="team-img pos-rel">
                                    <img src="assets/img/team/04.jpg" alt="">
                                    <div class="team-view">
                                        <i class="far fa-plus"></i>
                                    </div>
                                    <div class="team-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="team-text">
                                    <h3>James M. Sprinkle</h3>
                                    <span>Organic Farmer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="team-wrapper text-center mb-30">
                                <div class="team-img pos-rel">
                                    <img src="assets/img/team/01.jpg" alt="">
                                    <div class="team-view">
                                        <i class="far fa-plus"></i>
                                    </div>
                                    <div class="team-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                                <div class="team-text">
                                    <h3>David V. Beaudoin</h3>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- team-area-end -->

            <!-- gallery-area-start -->
            <div class="gallery-area gallery-padding pr-55 pl-55 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                            <div class="section-title text-center mb-70">
                                <h2>Photo <span>Gallery</span></h2>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12">
                            <div class="gallery-02-wrapper pos-rel mb-30">
                                <div class="gallery-02-img pos-rel">
                                    <a href="gallery-details.html"><img src="assets/img/gallery/05.jpg" alt=""></a>
                                    <div class="gallery-02-text">
                                       <h2><a href="gallery-details.html">Orange Lemon</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-12">
                            <div class="gallery-02-wrapper pos-rel mb-30">
                                <div class="gallery-03-img pos-rel">
                                    <a href="gallery-details.html"><img src="assets/img/gallery/06.jpg" alt=""></a>
                                    <div class="gallery-content">
                                       <h2><a href="gallery-details.html">Most Views Product <br> In Our Famrs</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="gallery-02-wrapper pos-rel mb-30">
                                <div class="gallery-02-img pos-rel">
                                    <a href="gallery-details.html"><img src="assets/img/gallery/07.jpg" alt=""></a>
                                    <div class="gallery-02-text">
                                       <h2><a href="gallery-details.html">Red Grape</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="gallery-02-wrapper pos-rel mb-30">
                                <div class="gallery-02-img pos-rel">
                                    <a href="gallery-details.html"><img src="assets/img/gallery/08.jpg" alt=""></a>
                                    <div class="gallery-02-text">
                                       <h2><a href="gallery-details.html">Cows Milks</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="gallery-02-wrapper pos-rel mb-30">
                                <div class="gallery-02-img pos-rel">
                                    <a href="gallery-details.html"><img src="assets/img/gallery/09.jpg" alt=""></a>
                                    <div class="gallery-02-text">
                                       <h2><a href="gallery-details.html">Broccoli</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-area-end -->

            <!-- client-area-start -->
            <div class="client-area pb-220">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="section-title mb-75">
                                <h2>What People’s <span>Say</span></h2>
                                <p class="mr-170">Sedut perspiciatis unde omnis iste natus error
                                    voluptatem accusantium doloremque</p>
                            </div> 
                        </div>
                    </div>
                    <div class="row test-03-active">
                        <div class="col-xl-4">
                            <div class="clients-say-wrapper clientss-02-wrapper">
                                <div class="clients-say-text">
                                    <p>On the other hand deno unce witrig teouidi nation and dislike men who are beguiledy and demozed. Avoids pleasure itcause it pleasure but becae </p>
                                    <div class="client-02-say-name">
                                        <div class="client-02-say-img">
                                            <img src="assets/img/testimonial/04.png" alt="">
                                        </div>
                                        <div class="client-02-say-content">
                                            <h4>Sonatha X Maza</h4>
                                            <span>ceo & founder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="clients-say-wrapper clientss-02-wrapper">
                                <div class="clients-say-text">
                                    <p>On the other hand deno unce witrig teouidi nation and dislike men who are beguiledy and demozed. Avoids pleasure itcause it pleasure but becae </p>
                                    <div class="client-02-say-name">
                                        <div class="client-02-say-img">
                                            <img src="assets/img/testimonial/05.png" alt="">
                                        </div>
                                        <div class="client-02-say-content">
                                            <h4>Zokina MZ. Kalzs</h4>
                                            <span>web designer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="clients-say-wrapper clientss-02-wrapper">
                                <div class="clients-say-text">
                                    <p>On the other hand deno unce witrig teouidi nation and dislike men who are beguiledy and demozed. Avoids pleasure itcause it pleasure but becae </p>
                                    <div class="client-02-say-name">
                                        <div class="client-02-say-img">
                                            <img src="assets/img/testimonial/06.png" alt="">
                                        </div>
                                        <div class="client-02-say-content">
                                            <h4>Sonatha X Maza</h4>
                                            <span>ceo & founder</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="clients-say-wrapper clientss-02-wrapper">
                                <div class="clients-say-text">
                                    <p>On the other hand deno unce witrig teouidi nation and dislike men who are beguiledy and demozed. Avoids pleasure itcause it pleasure but becae </p>
                                    <div class="client-02-say-name">
                                        <div class="client-02-say-img">
                                            <img src="assets/img/testimonial/04.png" alt="">
                                        </div>
                                        <div class="client-02-say-content">
                                            <h4>Anthony A. Seaman</h4>
                                            <span>senior manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- client-area-end -->
            
            <!-- brand-start -->
            <div class="brand-area pt-100 pb-40" data-background="assets/img/bg/brand.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/01.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/02.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/03.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/04.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/05.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/06.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/07.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/08.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/09.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/10.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/11.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-6">
                            <div class="single-brand mb-60">
                                <img src="assets/img/brand/12.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- brand-end -->
        </main>

        <!-- footer-area-start -->
        <footer>
          <div class="footer-area pt-80 black-bg">
              <div class="container">
                  <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                                <div class="footer-text">
                                    <p>Rum soluta nobis est eligendi optio cumque nihil impedit quo minus ides quod maxime placeat facer.</p>
                                </div>
                                <h4 class="footer-content">Quick Links</h4>
                                <div class="subscribes-form">
                                    <form action="#">
                                        <input placeholder="Enter your email" type="email">
                                        <button><i class="far fa-arrow-right"></i></button>
                                    </form>
                                </div>
                                <h4 class="footer-content mt-25">Social Links</h4>
                                <div class="footer-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper ml-70 mb-30">
                                <h3 class="footer-title pt-10">Quick Links</h3>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="about.html">History Of Comapny</a></li>
                                        <li><a href="our-history.html">Our Soluations</a></li>
                                        <li><a href="about.html">Product Delivary</a></li>
                                        <li><a href="team.html">Latest Blog</a></li>
                                        <li><a href="about.html">Popular Product</a></li>
                                        <li><a href="about.html">New Arrival</a></li>
                                        <li><a href="about.html">Deal Of The Day</a></li>
                                        <li><a href="about.html">Summer Product</a></li>
                                        <li><a href="about.html">Transport Bills</a></li>
                                    </ul>
                                </div>
                             </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h3 class="footer-title pt-10">Contact Us</h3>
                                <div class="footer-info">
                                    <p>Sed perspiciatis unde omnis iste natus error sit volupta ccusantium dolore mque laudant ium</p>
                                </div>
                                <ul class="footer-address">
                                    <li>
                                        <div class="footer-address-icon f-left">
                                            <i class="far fa-envelope-open-text"></i>
                                        </div>
                                        <div class="footer-address-text">
                                            <span>Phone Number</span>
                                            <h5><a href="#">+012 (345) 678 99</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon f-left">
                                            <i class="far fa-phone-plus"></i>
                                        </div>
                                        <div class="footer-address-text">
                                            <span>Email Address</span>
                                            <h5><a href="#">support@gmail.com</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon f-left">
                                            <i class="far fa-map-marked-alt"></i>
                                        </div>
                                        <div class="footer-address-text">
                                            <span>Office Location</span>
                                            <h5><a href="#">241 Devonshire Street
                                                Lebanon, PA 17042</a></h5>
                                        </div>
                                    </li>
                                </ul>
                             </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h3 class="footer-title pt-10">Recent News</h3>
                                <ul class="footer-news mt-35">
                                    <li>
                                        <div class="footer-news-img f-left">
                                            <a href="#"><img src="assets/img/footer/01.jpg" alt="">
                                                <div class="footer-news-icon">
                                                    <i class="far fa-arrow-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="footer-news-text">
                                            <h5><a href="#">Building  Simp Chatb To With Web Speech API And Node.js</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-news-img f-left">
                                            <a href="#"><img src="assets/img/footer/02.jpg" alt="">
                                                <div class="footer-news-icon">
                                                    <i class="far fa-arrow-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="footer-news-text">
                                            <h5><a href="#">The Surpr Relatio ship Between Gamifi cation Modern Persuas</a></h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-news-img f-left">
                                            <a href="#"><img src="assets/img/footer/03.jpg" alt="">
                                                <div class="footer-news-icon">
                                                    <i class="far fa-arrow-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="footer-news-text">
                                            <h5><a href="#">Summer Bliss August Adventures: Wallpapers To Kick-Start New </a></h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom-area mt-40 pt-20 pb-70">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-7">
                                <div class="copyright">
                                    <p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                                </div>
                            </div>
                           <div class="col-xl-6 col-lg-6 col-md-5">
                                <div class="footer-bottom-link f-right">
                                    <ul>
                                        <li><a href="#">Setting & Privacy </a></li>
                                        <li><a href="#"> Product</a></li>
                                        <li><a href="#"> Needs Help?</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
             </div>  
        </footer>
        <!-- footer-area-end -->

        

		<!-- JS here -->
        <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.meanmenu.min.js"></script>
        <script src="assets/js/ajax-form.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/jquery.countdown.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.knob.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/jquery.scrollUp.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>