{% extends "pgworker/amc_base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
        <div class="col-sm-4">
    		<img src='{% static "/images/trust_index_1.png" %}' class="rounded" alt="Cinque Terre" width="304" height="236">
        </div>
    	<div class="col-sm-8">
            <div class="jumbotron">
            <h1>生涯規劃對個人的重要性</h1>
            <p>生涯發展是個人生命歷程中重要的一環，九年一貫課程將「生涯規劃與終身
          學習」列為十大基本能力之一，更顯示生涯發展教育的重要性。<br>
          壹、生涯發展教育現況方面<br>
          各領域關於生涯發展教育的內容無系統性的融入，
          因為：就同一領域的內容而言，關於生涯發展教育的探討並未由淺而深，因此教
          學現場的老師僅能依教學經驗隨意延伸，沒有固定探討的能力指標；就不同領域
          之間的內容而言，並未統整各年段應融入的能力指標，導致有些生涯發展教育的
          能力指標重複探討，如：培養自己的興趣與能力，但有些生涯發展教育的能力指
          標可能僅是簡單帶過，如：瞭解工作對個人的意義及社會的重要性。即在現有的
          課程之中，使學生在生涯發展教育的學習是零碎的，因此無法建構完整的生涯發
          展概念，以致學生無法提升生涯規劃能力。<br>
          再就研究者從教學現場中的觀察發現，由於教學進度的壓力及繁多的校務活
          動，導致教學現場的教師在教學時，普遍僅以各單元的教學目標為主，對於各領
          域出現的生涯發展議題僅能蜻蜓點水式的帶過，無法帶領學生深入的討論，導致
          無法確實落實生涯發展教育。<br></p>
          </div>


        </div>

 </div>
</div>
{% endblock %}