{% extends "pgworker/data_reptile_base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
     <div class="col-sm-4">
		<img src='{% static "/images/trust_index_1.png" %}' class="rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="col-sm-8">
		<h1>什麼是網頁爬蟲</h1>
		<p class="lead" style="font-size:25px;">
		                爬蟲是指利用程式去自動獲取網頁資訊的技術<br>
		                已應用於商業市場判斷和政治輿情分析等領域<br>
		                無論大數據計算和人工智慧都需以爬蟲為基礎<br>
		                爬蟲工作很多時候是企業藉以開展業務的主線<br>
		                將爬取內容進行清洗和處理就是具價值的資訊<br>
	    </p>
    </div>



  </div>
</div>
{% endblock %}