{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container" align="center">
  <div class="row">
    <div class="col-sm-4">
		<h2 style="font-size:26px;">英文閱讀 網站設計 市場分析</h1>
		<p class="lead" style="font-size:24px;">
						程式設計這一技能可受用終生<br>
						學生完成商業網站為教學目標<br>
						偏重學生分工並自主解決問題<br>
						老師最大功能是讓學生不卡關</p>
    </div>
    <div class="col-sm-4">
		<img src='{% static "/images/trust_index_1.png" %}' class="rounded" alt="Cinque Terre" width="304" height="236">
    </div>
	 <div class="col-sm-4">
		<h2 style="font-size:26px;">把握時間 慢慢成為 快樂程工</h1>
		<p class="lead" style="font-size:24px;" >
						如果大學畢業後還需職訓<br>
						才能夠找到工作安身立命<br>
						那麼那煎熬的黃金十年是<br>
						我們生命中不可承受之重<p>

    </div>

  </div>
</div>
{% endblock %}